<div class="block-heading-two">
  <h3><span>Admin Dashboard</span></h3>
  <h4><a href="/profiles">Back To Profiles</a></h4>
  <div class='container'>
    <div class="img-box-4 text-center">
      <div class="row">
      <hr>
        <div class="col-md-3 col-sm-6" style="width:287.5px;height:200px;">

          <div class="img-box-4-content">
        
            <div class="bor bg-purple"></div>
            <p>Mannage Pending Lineage Key Requests</p>
            <p><a href="/holders/pending">Pending Requests</a></p>
          </div>
        </div>    
      </div>
    </div>
  </div>
  <div class='container'>
    <div class="img-box-4 text-center">
      <div class="row">
        <div class="col-md-3 col-sm-6" style="width:287.5px;height:200px;">

          <div class="img-box-4-content">
        
            <div class="bor bg-purple"></div>
            <p>Add New Articles</p>
            <p><a href="/articles/new">New Articles</a></p>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>      





