<div id="bs-carousel-1" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" data-wrap="true" center="true">
  <!-- Bootstrap indicators. If you don't need indicators, remove the below section -->
<!--   <ol class="carousel-indicators" id="active=color">
    <li data-target="#bs-carousel-1" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel-1" data-slide-to="1"></li>
    <li data-target="#bs-carousel-1" data-slide-to="2"></li>
    <li data-target="#bs-carousel-1" data-slide-to="3"></li>
    <li data-target="#bs-carousel-1" data-slide-to="4"></li>
  </ol> -->
  <!-- Slides. You can also add captions -->
  <div class="carousel-inner" id="landing-carousel">
 
    <!-- Item, First item should have extra class "active" -->
    <div class="item active">
      <!-- Image -->
      <img src="/assets/theme/corals_7.jpg" alt="" >
    </div>
    <div class="item">
      <img src="/assets/theme/corals_2.jpg" alt="" >
    </div>
    <div class="item">
      <img src="/assets/theme/corals_3.jpg" alt="" >
    </div>
        <div class="item">
      <img src="/assets/theme/corals_5.jpg" alt="" >
    </div>
        <div class="item">
      <img src="/assets/theme/corals_6.jpg" alt="" >
    </div>
  </div>

  <!-- Carousel controls (arrows). If you don't need controls, remove the below section -->
  <a class="left carousel-control" href="#bs-carousel-1" role="button" data-slide="prev">
    <span class="fa fa-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#bs-carousel-1" role="button" data-slide="next">
    <span class="fa fa-chevron-right"></span>
  </a>
</div>