<h1>Fragit Users</h1>

<hr>
<h3>
  <div>
  <% @users.each do |user| %>
    <h3>User: <a href="/profiles/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></h3>
    <h3>Email: <%= user.email %></h3>
    <hr>
  <% end %>
  </div>
</h3>