<h1>Specimen Index</h1>

<div class='container'>
  <div class="img-box-4 text-center">
    <div class="row">


        <% @specimens.each do |specimen| %>
        <div class="col-md-3 col-sm-6" style="width:287.5px;height:300px;">

          <div class="img-box-4-content">

          <h4><a href="/specimens/<%= specimen.id %>"><%= specimen.name %></a></h4>
            <p><%= specimen.scientific_name %></p>
            <p><%= specimen.designation %></p>  
          </div>
        </div>  
        <% end %>
       </div> 
    </div>
</div>