<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>A new Item was posted on your account.

  <%= @item.user_id %>

  <%= @item.description %>
  </p>
  </body>
</html>