#landing-carousel {
  width: 500px;
  margin: 0 auto;

}

#article-page {
margin: 100px;

}

#item-color {
  color: #0059b3;
}

#phone-color {
  color: #0059b3;
}

#envelope-color {
  color: #0059b3;
}

#button-color {
  color: #0059b3
}


.carousel .carousel-indicators .active {
  background-color: #0059b3;
}