<h3>Specimen Holder Show</h3>
  <h3>User Id: <%= @holder.user_full_name %></h3>
  <h3>Specimen Id: <%= @holder.specimen.name %></h3>
  <h3>Date Acquired: <%= @holder.date_acquired %></h3>
  <h3>Acquired From: <%= @holder.acquired_from %></h3>

<h4><a href="/holders">Back to Specimen Holders</a></h4>

