<h3>Image</h3>

    <img src="<%= @image.url %></h3>"></h3>
 

  <h4><a href="/images">Back To Images</a></h4>
  <h4>  <%= link_to "delete", "/images/#{@image.id}", 
    method: :delete, data: {confirm: "Are you sure?"} %></h4>